<div class="jg-trust-badges">
  <div class="jg-trust-badge">
    <div class="jg-trust-icon">🚚</div>
    <div class="jg-trust-text">Free<br>Shipping</div>
  </div>
  <div class="jg-trust-badge">
    <div class="jg-trust-icon">💵</div>
    <div class="jg-trust-text">Cash on<br>Delivery</div>
  </div>
  <div class="jg-trust-badge">
    <div class="jg-trust-icon">↩</div>
    <div class="jg-trust-text">30-Day<br>Returns</div>
  </div>
  <div class="jg-trust-badge">
    <div class="jg-trust-icon">✓</div>
    <div class="jg-trust-text">Genuine<br>Quality</div>
  </div>
</div>
